@model IEnumerable<ProyectoTwFinal.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create">Productos</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
          <div class="col-4">
            <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title">@item.Nombre</h5>
                   <h5 class="card-text">@item.Codigo</h5>
                   <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Edit</a> |
                   <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a> |
                   <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>


            </div>
    }
</div>