<!--
  Autor: Rosas Jiménez Rosalinda
  Fecha creación:04/02/2023
  Fecha actualización 06/02/2023
  Descripción: Index proveedor
-->
@model IEnumerable<ProyectoTwFinal.Models.Proveedore>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Proveedores</h1>
<p>
    <a asp-action="Create" class="btn btn-success">Crear Proveedor</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class=" col-xl-3 col-lg-4 col-md-6 d-flex justify-content-center">
            <div class="card text-center" style="max-width:334px">
                <div class="card-header">
                    <h5 class="card-title">@item.Nombre</h5>
                </div>
                <div class="card-body">
                    <img src="~/img/proveedor/@item.Avatar" class="card-img-top" alt="Card image" style="max-width:270px">
                    <p class="card-text">@item.Direccion</p>
                    <p class="card-text">@item.Correo</p>
                </div>
                <div class="card-footer text-muted">
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Ver</a>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Eliminar</a>
                </div>
            </div>
        </div>
    }
</div>
